#container {
    display: grid;
    grid-template-rows: 50px auto;
}

#container div {
    background-color: purple;
    margin: 5px;
}

#menu {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

#featured {
    padding: 10px;
}